

details {
    outline: black solid 1px;
    margin: 10px;
    padding: 5px;
}

form{
    margin: 5px;
    padding: 5px;
}

form input{
    margin: 5px;
    padding: 5px;
}

.event, .member {
    background-color: #0072FF;
    color: #FFFFFF;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}

textarea {
    width: 500px;
    
}