/*
Colby Blue Lights Website
CS325 - Final Project
Ben Southwick, Emerson Wright

*/

.event {
    color: var(--bkg-dark);
    padding: 10px;
}

h2 {
    font-size: 30pt;
    font-family: 'Damion', cursive;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.eventText {
    float: right;
    width: 78%;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 18pt;
}

.eventDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

