
:root {
    --bkg: #0072FF;
    --bkg-dark: #0048FF;
    --yellow: #F9FE00;
    --dark: #140654;
    --light: #F9FE00;
    --white: #FFFFFF;
     
}


/* Events Preview */
.eventsPreview {
    width:30%;
    height:700px;
    display:inline-block;
    margin-left:1%;
    margin-right:1%; 
}

h2 {
    font-family: 'Damion', cursive;
    font-size: 2.5vw;
    margin:0;
    width:100%;
    text-align:center;
    color: var(--bkg-dark);
}

/* About Preview */

.aboutPreview {
    width:62%;
    height:auto;
    float:right;
    margin: 0;
    margin-right:2%;
    margin-top:10px;
    padding:10px
    
}

.aboutPreview p {
    background-color: var(--bkg-dark);
    border-radius: 15px;
    margin: 10px;
    padding:10px;

    color:var(--yellow);
    font-size: 1.5vw;
}

#groupPic {
    width: 55%;
    margin: 10px  10px 0px 10px;
    height:auto;
    border: 3px solid var(--bkg-dark);
    clear:both;
}

#leftPhoto {
    width:40%;
    /* height:auto; */
    float:right;
    margin-top: 10px;
    margin-right:10px
}



/* Member Preview */

.membersPreview {
    height:300px;
}
