:root {
    --bkg: #0072FF;
    --bkg-dark: #0048FF;
    --yellow: #F9FE00;
    --dark: #140654;
    --light: #F9FE00;
    --white: #FFFFFF;
     
}

body {
    background-color: var(--bkg);
    color: var(--white);
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 150px;
}

/* Formating Header */

header {
    color: var(--white);
    width: 100%;
    height: 109px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5px;
}

.logo {
    width: 109px;
    height: 109px;
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
    font-family: 'Damion', cursive;    
    font-size: 5vw;
    margin:0;
    flex: 2;
    min-width: 267px;
    color: var(--white);
}

#logoLink {
    margin-left: 2%;
    margin-right: 2%; 
}


a, a:visited {
    text-decoration: none;
    color: inherit;
}

.nav {
    margin-left: auto;
    padding-top: 60px;
}

.nav li {
    display: inline;
    margin-right: 40px;
    color: var(--yellow);
    font-size: 2.5vw;
    font-family: 'Damion', cursive;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: var(--dark);
    border: 3px solid var(--yellow);
    border-radius: 15px;
    min-width: 160px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:hover .dropdownContent {
    display: block;
}

.songSubmitMessage {
    font-size: 12pt;
    font-family: 'Varela Round', sans-serif;
    margin-top: 10px;
    margin-bottom: 0; 
}


/* Formating Footer */

.footerSpacer {
    aspect-ratio: 900/50;
    width:100%;
    padding: 0;
    margin: 0;
    position:fixed;
    bottom:70px;    

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(./media/footerWaves.svg);
}

footer {
    background-color: var(--dark);
    color: var(--yellow);
    width: 100%;
    height: 71px;
    position: fixed;
    bottom: 0;
}

.footerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.socialMedia {
    margin-left:auto;
    margin-right:10px;
}

footer p {
    font-size: 14pt;
    width:20%;
    margin-left: 10px;
}

input {
    border-style: none none solid none;
    border-color: var(--yellow);
    background-color: var(--dark);
    color: var(--yellow);

}

input:focus {
    outline: none;
}

#emailMessageContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.emailMessage {
    font-size: 12pt;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0; 
}

#emailButton {
    background-color: var(--dark);
    color: var(--yellow);
    border-style: solid;
    border-color: var(--yellow);
    border-width: 1px;
    font-size: 1.5vw;
    font-family: 'Damion', cursive;
    padding: 5px;
    margin-left: 10px;
}





/* Section general formating */

section{
    background-color: var(--white);
    border: 3px solid var(--bkg-dark);
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}



